<div class="word_new_bg">
    <br>
    <div class="container new_edit_container w-50">
        <br>
        <h1 class="text-center">Edit words</h1>
        <%= form_for([:admin, @category, @word]) do |f| %>
            <%= render "shared/error_messages", object: @word %><%#_error_messagesのパーシャルファイルを引っ張ってきてエラーメッセージを表示%>
            <%= f.label :word %>
            <%= f.text_field :content, class: "form-control" %>
            <br>

            <%= f.label :choices %><br>
            <%= f.fields_for :choices do |choice| %>
                <div class="mb-2">
                    <%= choice.text_field :content, class: "form-control" %>
                    <%= choice.check_box :is_correct%>
                </div>
            <% end %>
            <br>
            <%= f.submit "EDIT", class: "btn btn-block btn-primary mb-3" %>
        <% end %>
        <br>
    </div>
    <br>
    <div>
        <%= link_to "＜＜　Back to Index", admin_categories_path, class: "text-white" %>
    </div>
<div>