<!DOCTYPE html><!--全てに共通させたいものはapplication.html.erbに書く-->
<html>
    <head>
        <title>ELearning</title><!--タブのタイトル-->
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Dosis|Source+Serif+Pro&display=swap" rel="stylesheet">
    </head>

    <body>
        <%= render 'layouts/header'%>
            <div>
                <%= yield %>
            </div>
        <%= render 'layouts/footer'%>
    </body>
</html>
